@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand|Laila');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

body {
	font-family: 'Open Sans', sans-serif;
}

.col-sm-3 {
	text-align: center;
}

.done {
	text-decoration: line-through;
/*	font-style: italic;*/
}

.listHeader {
    font-family: 'Just Another Hand', cursive;
    font-size: 1.5em;
}

.addItem {
	font-family: 'Laila', serif;
	font-size: 1rem;
}

.itemName {
	font-family: 'Laila', serif;
}

.fa-info-circle, .fa-trash-alt {
  color: #e74c3c;
}

#editableBox {
	border: 0px;
	width: 100%;
	border-bottom: 1px dotted #000000;
}

#editableBox:focus {
	outline: none;
}

.input-group-prepend {
    z-index: 0;
}